server:
  port: 8080
spring:
  application:
    name: ecommerce
  datasource:
    url: jdbc:h2:mem:mydb
    username: "root"
    password: "root"
    driverClassName: org.h2.Driver
  jpa:
    show-sql: true

